@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Razor View Engine Demo - @Model.FirstName</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <script src="/Content/js/jquery-2.1.1.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    @RenderSection("Header")
</head>
<body>
    <h1>vvv</h1>
    <div id="body">@RenderBody()</div>
    <div id="footer">@RenderSection("Footer")</div>
    <div id="optional">@RenderSection("Optional", false)</div>
    @RenderSection("scripts")
</body>
</html>